{% extends "console/_drawer.html" %}{% load i18n %}
{% block drawer_class %} wide{% endblock %}
{% block drawer_title %}{% if rule %}{% blocktranslate with type=rule.get_rule_type_display %}{{ type }} rule{% endblocktranslate %}{% else %}{% translate "New execution rule" %}{% endif %}{% endblock %}
{% block drawer_subtitle %}{% if rule %}<span class="mono small muted">{{ rule.identifier }}</span>{% endif %}{% endblock %}
{% block drawer_body %}{% include "console/rules/_form.html" with in_drawer=True %}{% endblock %}
