{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if rule %}{% translate "Rule" %}{% else %}{% translate "New rule" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
{% url 'console:rules' as back_url %}{% include "console/_back.html" with url=back_url label=_("Execution rules") %}
<h1>{% if rule %}{% blocktranslate with type=rule.get_rule_type_display %}{{ type }} rule{% endblocktranslate %}{% else %}{% translate "New execution rule" %}{% endif %}</h1>
{% include "console/rules/_form.html" %}
{% endblock %}
