{% extends "console/base.html" %}{% load console i18n %}
{% block title %}{% translate "Execution rules" %}{% endblock %}
{% block content %}
<div class="page-head">
  <h1>{% translate "Execution rules" %}</h1>
  <div class="actions">
    {# the list and the export need the same permission (view_rule) #}
    {% url 'console:rules_export' as export_url %}<a class="button" href="{{ export_url }}{% querystring page=None %}" download data-download hx-boost="false">{% translate "Export CSV" %}</a>
    {% if perms.santa.add_rule %}{% url 'console:rule_upload' as upload_url %}<a class="button" href="{{ upload_url }}" hx-get="{{ upload_url }}" hx-target="#drawer">{% translate "Upload binary" %}</a>
    {% url 'console:rule_add' as add_url %}<a class="button primary" href="{{ add_url }}" hx-get="{{ add_url }}" hx-target="#drawer">{% translate "New rule" %}</a>{% endif %}
  </div>
</div>
{% include "console/widgets/_filter_bar.html" %}
{% include "console/_rows.html" %}
{% endblock %}
