{% extends "console/_drawer.html" %}{% load i18n %}
{% block drawer_class %} wide{% endblock %}
{% block drawer_back %}{% if source %}{% url 'console:source' source.pk as source_url %}{% include "console/_back.html" with url=source_url label=source.name drawer=True %}{% endif %}{% endblock %}
{% block drawer_title %}{% if source %}{% translate "Edit" %}{% else %}{% translate "New package rule" %}{% endif %}{% endblock %}
{% block drawer_body %}{% include "console/sources/_form.html" with in_drawer=True %}{% endblock %}
