{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if source %}{{ source.name }}{% else %}{% translate "New package rule" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
<p><a href="{% if source %}{% url 'console:source' source.pk %}{% else %}{% url 'console:sources' %}{% endif %}">‹ {% translate "Back" %}</a></p>
<h1>{% if source %}{{ source.name }}{% else %}{% translate "New package rule" %}{% endif %}</h1>
{% include "console/sources/_form.html" %}
{% endblock %}
