{% extends "console/base.html" %}{% load console i18n %}
{% block title %}{% translate "Package rules" %}{% endblock %}
{% block content %}
<div class="page-head">
  <h1>{% translate "Package rules" %}</h1>
  {% translate "Watch packages in a catalog. Every new version is downloaded, its executables become execution rules." as help %}{% include "console/_help.html" with text=help %}
  <div class="actions">{% if perms.santa.add_releasesource %}{% url 'console:source_add' as add_url %}<a class="button primary" href="{{ add_url }}" hx-get="{{ add_url }}" hx-target="#drawer">{% translate "New package rule" %}</a>{% endif %}</div>
</div>
{% include "console/widgets/_filter_bar.html" %}
{% include "console/_rows.html" %}
{% endblock %}
