{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if role %}{{ role.name }}{% else %}{% translate "New role" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
{% url 'console:admin_roles' as back_url %}{% include "console/_back.html" with url=back_url label=_("Roles") %}
<div class="page-head"><h1>{% if role %}{{ role.name }}{% else %}{% translate "New role" %}{% endif %}</h1></div>
{% include "console/administration/_role_form.html" %}
{% endblock %}
