{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if sign_in_group %}{{ sign_in_group.name }}{% else %}{% translate "New sign-in group" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
{% url 'console:admin_sign_in_groups' as back_url %}{% include "console/_back.html" with url=back_url label=_("Sign-in groups") %}
<div class="page-head"><h1>{% if sign_in_group %}{{ sign_in_group.name }}{% else %}{% translate "New sign-in group" %}{% endif %}</h1></div>
{% include "console/administration/_sign_in_group_form.html" %}
{% endblock %}
