{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if tag %}{{ tag.name }}{% else %}{% translate "New tag" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
{% url 'console:admin_tags' as back_url %}{% include "console/_back.html" with url=back_url label=_("Tags") %}
<div class="page-head"><h1>{% if tag %}{{ tag.name }}{% else %}{% translate "New tag" %}{% endif %}</h1></div>
{% include "console/administration/_tag_form.html" %}
{% endblock %}
