{% extends "console/base.html" %}{% load console i18n %}
{% block title %}{% translate "Tags" %}{% endblock %}
{% block content %}
{% if perms.santa.add_tag %}{% url 'console:admin_tag_add' as add_url %}{% endif %}{% translate "New tag" as add_label %}
{% translate "Only labels to find the rules, no effect on the Macs." as help %}
{% include "console/administration/_tabs.html" with help=help action_url=add_url action_label=add_label %}
{% include "console/widgets/_filter_bar.html" %}
<table class="table" data-table="tags">
  <thead><tr>{% sort_th _("Tag") "name" %}<th>{% translate "Description" %}</th>{% sort_th _("Rules") "rules" "num" %}{% sort_th _("Package rules") "packages" "num" %}</tr></thead>
  <tbody>
  {% for tag in page %}
    <tr>
      <td>{% url 'console:admin_tag' tag.pk as tag_url %}<a class="strong" href="{{ tag_url }}" hx-get="{{ tag_url }}" hx-target="#drawer">{{ tag.name }}</a></td>
      <td>{{ tag.description|default:"–" }}</td>
      <td class="num"><a href="{% url 'console:rules' %}?tag={{ tag.pk }}">{{ tag.rule_count }}</a></td>
      <td class="num">{{ tag.source_count }}</td>
    </tr>
  {% empty %}
    <tr class="empty"><td colspan="4">{% translate "No tags for these filters." %}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% include "console/_pagination.html" %}
{% endblock %}
