{% extends "console/base.html" %}{% load i18n %}
{% block title %}{% if edited_user %}{{ edited_user.username }}{% else %}{% translate "New local account" %}{% endif %}{% endblock %}
{% block main_class %}narrow{% endblock %}
{% block content %}
{% url 'console:admin_users' as back_url %}{% include "console/_back.html" with url=back_url label=_("Users") %}
<div class="page-head"><h1>{% if edited_user %}{{ edited_user.get_full_name|default:edited_user.username }}{% else %}{% translate "New local account" %}{% endif %}</h1></div>
{% include "console/administration/_user_form.html" %}
{% endblock %}
